/* You can add global styles to this file, and also import other style files */

@import 'scss exports/var-colors';
@import 'scss exports/mixins';

body {
    margin: 0;
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    // background-color: $main-color;
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

button:hover {
    color: rgb(50, 50, 50, 1);
}

.button {
    background-color: $button-color;
    border: $button-border-color solid 1px;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: $text-color;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    margin: 0em;
    box-sizing: border-box;
}

.button:hover {
    background-color: $button-hover-color;
}

.blocks-wrapper {
    position: relative;
    padding: 0 10px 0 10px;
}

.blocks-header {
    background-color: $block-color;
    border: $block-border-color solid 1px;
    padding: 10px;
}

.block {
    border: $block-border-color solid 1px;
    background-color: $block-color;
    padding: 10px;
    margin: 0 0 10px 0;

    .button {
        width: 100%;
        margin-bottom: 4px;
    }
}

img {
    width: 100%;
}

input[type=input] {
    border-radius: 5px;
}

.invisible {
    display: none;
}

.grid-2-col {
    @include columns-2(50%, 50%);
}

.avatar-mini {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    object-fit:cover;
    padding: 4px;
    cursor: pointer;
}
