<div class="block chat-block" #block (window:resize)="onResize()">
    <div class="chat-header-wrapper" [ngStyle]="{ 'width' : contentWidth + 'px'}" (click)="scroll(targetView)">
        <img class="avatar-mini" src="/assets/img/blank-profile-picture-973460_1280.webp"/>
        <h4>Kirill Klimonov</h4>
    </div>
    <!-- <div #chatContent style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight"> -->
        <div class="chat-content" [ngStyle]="{ 'width' : contentWidth + 'px'}">
            <div class="chat-message-wrapper" *ngFor="let message of chat.messages">
                <div class="chat-message">
                    <div class="folder-picture-wrapper">
                        <img class="avatar-mini"
                            [src]="chat.participants[message.authorId].avatarURL 
                                ? chat.participants[message.authorId].avatarURL
                                : '/assets/img/blank-profile-picture-973460_1280.webp'"/>
                    </div>
                    <div>
                        <span>{{ chat.participants[message.authorId].name }}</span><span> {{ message.time.toLocaleDateString("en-US") }}</span>
                        <p>{{ message.text }}</p>
                    </div>
                </div>
            </div>
            <div #targetView></div>
        </div>
    <!-- </div> -->
    <div class="chat-footer-wrapper" [ngStyle]="{ 'width' : contentWidth + 'px'}">
        <div class="chat-footer">
            <textarea placeholder="Start typing..."></textarea>
            <button class="button">Send</button>
        </div>
    </div>
</div>
