$main-color: #F1E4ED;
$main-bg-color: #A68D9E;
$main-text-color: #95A5A6;
$secondary-bg-color:#CEF2F2;
$block-color: #E0D9AF;

$block-border-color: $main-bg-color;
$button-color: $block-color;
$button-hover-color: $main-color;
$button-border-color: $secondary-bg-color;
