
<div class="navbar">
    <div class="navbar-content"> 
        <div class="logo">
            <span style="background-color: rgb(249, 113, 113)">My</span>
            <span style="background-color: rgb(177, 177, 255)">Social</span>
            <span style="background-color: rgb(122, 239, 122)">Network</span>
        </div>
        <div *ngIf="user != undefined">
            <img class="avatar-mini"
                    [src]="user.avatarURL 
                        ? user.avatarURL
                        : '/assets/img/blank-profile-picture-973460_1280.webp'"/>
        </div>
    </div>
</div>
<div class="under-nav">
    <app-main-layout *ngIf="user != undefined"></app-main-layout>
    <router-outlet *ngIf="user == undefined"></router-outlet>
</div>