<div class="navbar">
    <div class="navbar-content"> 
        <div class="logo">
            <span style="background-color: rgb(249, 113, 113)">My</span>
            <span style="background-color: rgb(177, 177, 255)">Social</span>
            <span style="background-color: rgb(122, 239, 122)">Network</span>
        </div>
        <div>PROFILE</div>
    </div>
</div>
<div class="under-nav">
    <div class="authed-layout">
        <div></div>
        <div class="menu">
            <a class="button" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
            <a class="button" routerLink="/messages" routerLinkActive="active" ariaCurrentWhenActive="page">Messages</a>
            <button class="button">Friends</button>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>