<div class="block">
    <div class="edit-profile">
        <div class="edit-profile-inputs">
            <div>
                <label for="name">Name: </label>
                <br/>
                <label for="birthDate">Birth date: </label>
                <br/>
                <label for="city">City: </label>
            </div>
            <div>
                <input type="text" id="name"/>
                <br/>
                <input type="date" id="birthDate"/>
                <br/>
                <input type="text" id="city"/>
            </div>
        </div>
        <br/>
        <button class="button">Submit</button>
    </div>
</div>