<div class="block block-form">
    <fieldset>
        <div>
            <label for="name">Name: </label>
            <br/>
            <label for="birthDate">Birth date: </label>
            <br/>
            <label for="city">City: </label>
        </div>
        <div>
            <input type="text" id="name"/>
            <br/>
            <input type="date" id="birthDate"/>
            <br/>
            <input type="text" id="city"/>
        </div>
    </fieldset>
    <br/>
    <button class="button">Submit</button>
</div>