<div class="block block-form">
    <fieldset>
        <div>
            <label for="name">Old password: </label>
            <br/>
            <label for="birthDate">New password: </label>
            <br/>
            <label for="city">Repeat new password: </label>
        </div>
        <div>
            <input [type]="showPasswords ? 'text' : 'password'" id="password"/>
            <br/>
            <input [type]="showPasswords ? 'text' : 'password'" id="new_password"/>
            <br/>
            <input [type]="showPasswords ? 'text' : 'password'" id="new_password2"/>
        </div>
    </fieldset>
    <br/>

    <div class="form-buttons">
        <button class="button" *ngIf="!showPasswords" (click)="showPasswords = true">Show passwords</button>
        <button class="button" *ngIf="showPasswords" (click)="showPasswords = false">Hide password</button>
        <button class="button">Submit</button>
    </div>

    
</div>