<div class="authed-layout">
    <div></div>
    <div class="menu">
        <a class="button" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
        <a class="button" routerLink="/messages" routerLinkActive="active" ariaCurrentWhenActive="page">Messages</a>
        <a class="button" routerLink="/friends" routerLinkActive="active" ariaCurrentWhenActive="page">Friends</a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
