<div class="block">
    <div class="chat-folder">
        <div class="folder-picture-wrapper">
            <img class="avatar-mini" src="/assets/img/blank-profile-picture-973460_1280.webp"/>
        </div>
        <div>
            <p>Kirill Klimonov</p>
            <div class="folder-text">
                <span>Hi! How are you doing?</span>
                <span>10:12</span>
            </div>
        </div>
    </div>
    <div class="chat-folder">
        <div class="folder-picture-wrapper">
            <img class="avatar-mini" src="/assets/img/blank-profile-picture-973460_1280.webp"/>
        </div>
        <div>
            <p>Kirill Klimonov</p>
            <div class="folder-text">
                <span>Hi! How are you doing?</span>
                <span>10:12</span>
            </div>
        </div>
    </div>
</div>
