<div class="block">
    <form [formGroup]="form">
        <legend><b>Login</b></legend>
        <br/>
        <fieldset>
            <div>
                <label>Login:</label>
                <br/>
                <label>Password:</label>
            </div>
            <div>
                <input name="login" formControlName="login">
                <br/>
                <input name="password" formControlName="password" 
                    type="password">
            </div>
        </fieldset>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="form-buttons">
                <button class="button" (click)="login()">Login</button>
            </div>
            
            <span *ngIf="error" class="warning-text">{{ error }}</span>
            
            <span>Have not an account? <a class="usual-link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></span>
        </div>
    </form>
</div>
