<div class="block">
    <form [formGroup]="form">
        <legend><b>Login</b></legend>
        <br/>
        <fieldset>
            <div>
                <label>Login:</label>
                <br/>
                <label>Password:</label>
            </div>
            <div>
                <input name="login" formControlName="login">
                <br/>
                <input name="password" formControlName="password" 
                    type="password">
            </div>
        </fieldset>
        <div class="form-buttons">
            <button class="button" (click)="login()">Login</button>
            <br/>
            <button class="button" (click)="login()">Register</button>
        </div>
    </form>
</div>
